################################## NETWORK #####################################
bind 127.0.0.1 -::1

# bind 0.0.0.0 -::1 # in docker

protected-mode yes

enable-protected-configs no
enable-debug-command no
enable-module-command no

port 6379

tcp-backlog 511

timeout 0

tcp-keepalive 300

################################# TLS/SSL #####################################

# port 0
# tls-port 6379

# Configure a X.509 certificate and private key to use for authenticating the
# server to connected clients, masters or cluster peers.  These files should be
# PEM formatted.
#
# tls-cert-file redis.crt
# tls-key-file redis.key
#
# If the key file is encrypted using a passphrase, it can be included here
# as well.
#
# tls-key-file-pass secret

# Normally Redis uses the same certificate for both server functions (accepting
# connections) and client functions (replicating from a master, establishing
# cluster bus connections, etc.).
#
# Sometimes certificates are issued with attributes that designate them as
# client-only or server-only certificates. In that case it may be desired to use
# different certificates for incoming (server) and outgoing (client)
# connections. To do that, use the following directives:
#
# tls-client-cert-file client.crt
# tls-client-key-file client.key
#
# If the key file is encrypted using a passphrase, it can be included here
# as well.
#
# tls-client-key-file-pass secret

# Configure a DH parameters file to enable Diffie-Hellman (DH) key exchange,
# required by older versions of OpenSSL (<3.0). Newer versions do not require
# this configuration and recommend against it.
#
# tls-dh-params-file redis.dh

# Configure a CA certificate(s) bundle or directory to authenticate TLS/SSL
# clients and peers.  Redis requires an explicit configuration of at least one
# of these, and will not implicitly use the system wide configuration.
#
# tls-ca-cert-file ca.crt
# tls-ca-cert-dir /etc/ssl/certs

# By default, clients (including replica servers) on a TLS port are required
# to authenticate using valid client side certificates.
#
# If "no" is specified, client certificates are not required and not accepted.
# If "optional" is specified, client certificates are accepted and must be
# valid if provided, but are not required.
#
# tls-auth-clients no
# tls-auth-clients optional

# By default, a Redis replica does not attempt to establish a TLS connection
# with its master.
#
# Use the following directive to enable TLS on replication links.
#
# tls-replication yes

# By default, the Redis Cluster bus uses a plain TCP connection. To enable
# TLS for the bus protocol, use the following directive:
#
# tls-cluster yes

# By default, only TLSv1.2 and TLSv1.3 are enabled and it is highly recommended
# that older formally deprecated versions are kept disabled to reduce the attack surface.
# You can explicitly specify TLS versions to support.
# Allowed values are case insensitive and include "TLSv1", "TLSv1.1", "TLSv1.2",
# "TLSv1.3" (OpenSSL >= 1.1.1) or any combination.
# To enable only TLSv1.2 and TLSv1.3, use:
#
# tls-protocols "TLSv1.2 TLSv1.3"

# Configure allowed ciphers.  See the ciphers(1ssl) manpage for more information
# about the syntax of this string.
#
# Note: this configuration applies only to <= TLSv1.2.
#
# tls-ciphers DEFAULT:!MEDIUM

# Configure allowed TLSv1.3 ciphersuites.  See the ciphers(1ssl) manpage for more
# information about the syntax of this string, and specifically for TLSv1.3
# ciphersuites.
#
# tls-ciphersuites TLS_CHACHA20_POLY1305_SHA256

# When choosing a cipher, use the server's preference instead of the client
# preference. By default, the server follows the client's preference.
#
# tls-prefer-server-ciphers yes

# By default, TLS session caching is enabled to allow faster and less expensive
# reconnections by clients that support it. Use the following directive to disable
# caching.
#
# tls-session-caching no

# Change the default number of TLS sessions cached. A zero value sets the cache
# to unlimited size. The default size is 20480.
#
# tls-session-cache-size 5000

# Change the default timeout of cached TLS sessions. The default timeout is 300
# seconds.
#
# tls-session-cache-timeout 60

################################# GENERAL #####################################

daemonize no

loglevel debug

logfile "/data/log"

databases 2

set-proc-title yes
proc-title-template "{title} {listen-addr} {server-mode}"


################################ SNAPSHOTTING  ################################

# disable DB snapshots
# save ""
#   * After 3600 seconds (an hour) if at least 1 change was performed
#   * After 300 seconds (5 minutes) if at least 100 changes were performed
#   * After 180 seconds (3 minutes) if at least 500 changes were performed
#   * After 60 seconds if at least 1000 changes were performed
save 3600 1 300 100 180 500 60 1000

stop-writes-on-bgsave-error yes
rdbcompression yes
rdbchecksum no

sanitize-dump-payload clients

dbfilename dump.rdb

rdb-del-sync-files no

# The working directory.
dir ./

################################# REPLICATION #################################

# replicaof <masterip> <masterport>

# masteruser <username>
# masterauth <master-password>

# if lost connection to master or when the replication
# is still in progress, should the replica serve possible stale data?
replica-serve-stale-data no

replica-read-only yes

repl-diskless-sync yes

repl-diskless-sync-delay 5

repl-diskless-sync-max-replicas 0

repl-diskless-load disabled

repl-ping-replica-period 10

# value shuld be > repl-ping-replica-period
repl-timeout 60

repl-disable-tcp-nodelay no

repl-backlog-size 30mb

# 30 min
repl-backlog-ttl 1800

replica-priority 100

propagation-error-behavior panic

replica-ignore-disk-write-errors no

replica-announced yes

# At least 3 replicas with a lag <= 10 seconds use:
# 
# min-replicas-to-write 3
# min-replicas-max-lag 10


# replica-announce-ip 5.5.5.5
# replica-announce-port 1234


tracking-table-max-keys 1000000

################################## SECURITY ###################################
user default off

user some_admin allcommands allkeys allchannels on >some_password

acllog-max-len 128

acl-pubsub-default resetchannels

maxclients 10000

############################## MEMORY MANAGEMENT ################################

# maxmemory <bytes>

maxmemory-policy allkeys-lru

maxmemory-samples 5

maxmemory-eviction-tenacity 10

replica-ignore-maxmemory yes

active-expire-effort 1

############################# LAZY FREEING ####################################

lazyfree-lazy-eviction no
lazyfree-lazy-expire no
lazyfree-lazy-server-del no
replica-lazy-flush no

lazyfree-lazy-user-del no

lazyfree-lazy-user-flush no

################################ THREADED I/O #################################

io-threads 2

io-threads-do-reads no

############################ KERNEL OOM CONTROL ##############################

oom-score-adj no

oom-score-adj-values 0 200 800

#################### KERNEL transparent hugepage CONTROL ######################

disable-thp yes

############################## APPEND ONLY MODE ###############################

appendonly no

appendfilename "appendonly.aof"

appenddirname "appendonlydir"

appendfsync no

no-appendfsync-on-rewrite no

auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb

aof-load-truncated yes

aof-use-rdb-preamble yes

aof-timestamp-enabled no

################################ SHUTDOWN #####################################

shutdown-on-sigint default
shutdown-on-sigterm default

################ NON-DETERMINISTIC LONG BLOCKING COMMANDS #####################

busy-reply-threshold 5000

################################ REDIS CLUSTER  ###############################
# In order to setup your cluster make sure to read the documentation
# available at https://redis.io web site.

cluster-enabled no

cluster-config-file nodes-6379.conf

cluster-node-timeout 15000

cluster-port 0

cluster-replica-validity-factor 10

cluster-migration-barrier 1

cluster-allow-replica-migration yes

cluster-require-full-coverage yes

cluster-replica-no-failover no

cluster-allow-reads-when-down no

cluster-allow-pubsubshard-when-down no

# cluster-link-sendbuf-limit 0

# cluster-announce-hostname ""

# cluster-announce-human-nodename ""

# cluster-preferred-endpoint-type ip

########################## CLUSTER DOCKER/NAT support  ########################

# Example:
#
# cluster-announce-ip 10.1.1.5
# cluster-announce-tls-port 6379
# cluster-announce-port 0
# cluster-announce-bus-port 6380

################################## SLOW LOG ###################################

# in microseconds (1 sec)
slowlog-log-slower-than 10000

slowlog-max-len 128

################################ LATENCY MONITOR ##############################

latency-monitor-threshold 0

################################ LATENCY TRACKING ##############################

latency-tracking no

latency-tracking-info-percentiles 50 99 99.9

############################# EVENT NOTIFICATION ##############################

notify-keyspace-events ""

############################### ADVANCED CONFIG ###############################

hash-max-listpack-entries 512
hash-max-listpack-value 64

list-max-listpack-size -2

list-compress-depth 0

set-max-intset-entries 512

set-max-listpack-entries 128
set-max-listpack-value 64

zset-max-listpack-entries 128
zset-max-listpack-value 64

hll-sparse-max-bytes 3000

stream-node-max-bytes 4096
stream-node-max-entries 100

activerehashing yes

client-output-buffer-limit normal 0 0 0
client-output-buffer-limit replica 256mb 64mb 60
client-output-buffer-limit pubsub 32mb 8mb 60

# client-query-buffer-limit 1gb

maxmemory-clients 0

# proto-max-bulk-len 512mb

hz 10

dynamic-hz yes

aof-rewrite-incremental-fsync yes

rdb-save-incremental-fsync yes

lfu-log-factor 10
lfu-decay-time 1

max-new-connections-per-cycle 10
max-new-tls-connections-per-cycle 1


########################### ACTIVE DEFRAGMENTATION #######################

activedefrag no

active-defrag-ignore-bytes 100mb

active-defrag-threshold-lower 10

active-defrag-threshold-upper 100

active-defrag-cycle-min 1

active-defrag-cycle-max 25

active-defrag-max-scan-fields 1000

jemalloc-bg-thread yes


# server-cpulist 0-7:2

# bio-cpulist 1,3

# aof-rewrite-cpulist 8-11

# bgsave-cpulist 1,10-11

# ignore-warnings ARM64-COW-BUG
